Assets/Resources/Files/ArtificeCharacterStats.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="characters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="character">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="level" type="xs:unsignedByte" />
              <xs:element name="attack" type="xs:unsignedByte" />
              <xs:element name="defense" type="xs:unsignedByte" />
              <xs:element name="accuracy" type="xs:unsignedByte" />
              <xs:element name="magic" type="xs:unsignedByte" />
              <xs:element name="magic_defense" type="xs:unsignedByte" />
              <xs:element name="evasion" type="xs:unsignedByte" />
              <xs:element name="speed" type="xs:unsignedByte" />
              <xs:element name="max_health" type="xs:unsignedInt"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueID">
      <xs:selector xpath="character" />
      <xs:field xpath="id" />
    </xs:unique>
  </xs:element>
</xs:schema>